<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}"/>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
<form class="container" action="#" th:action="@{/login/form}" th:object="${user}" method="post">
    <input class="item text" id="account" name="account" th:field="*{account}" type="text" placeholder="your account"
           maxlength="20">
    <input class="item text" id="pwd" name="pwd" th:field="*{pwd}" type="password" placeholder="password for account"
           maxlength="16">
    <input class="item button" id="btn_ok" th:type="|submit|" value="Login">
</form>
</body>
</html>